@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'young-serif';
    src: url('../assets/fonts/young-serif/OFL.txt') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background: hsl(30, 54%, 90%);
    color:hsl(30, 18%, 87%);
    line-height: 1.6;
}

.container{
    max-width: 720px;
    margin: 2rem auto;
    background: hsl(0, 0%, 100%);
    border-radius:16px ;
    overflow: hidden;
    box-shadow:0px 4px 8px rgba(0,0,0,0.1) ;
}

.recipe-img{
    width: 100%;
    display: block;
}

.recipe-content{
    padding: 2rem;
}